<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Roshan_POC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F411BCC9228D38C800C4D7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F411BCDD228D38C800C4D7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F411BCE8228D38C900C4D7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
